a, span {

	cursor: pointer;

}

div.carousel {

	margin: auto;

}

img#usuario {

	margin-right: 20px;

}

span.obligatorio {

	color: red;

}

th, td {

	padding: 10px;

}

table {

	margin: auto;

}

span.aviso {

	display: block;
	color: red;
	font-size: 14px;

}